.wrap{
	background-color:white;
  padding:120px ;
  font-size:62px;
  color:#888;
  width:460px;
  height:1500px auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 250px auto;
  text-align:center;
  border-radius:30px;
}

input{
  font-family:'Ubuntu';
  font-weight:300;
  border:0;
  border-bottom:1px solid #ff5407;
  width:100%;
  height:36px;
  font-size:26px;
}

input:focus{
  outline:none;
  box-shadow:none;
  background:#ffeae2;
}

button{
	border-radius:30px;
  font-size: 26px;
  
  background:transparent;
  padding:20px;
  margin-top:50px;
  background:#a0a0a0;
  color:#fff;
  float : center;
}




